services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB : video_analytics
      POSTGRES_USER : user
      POSTGRES_PASSWORD : pass
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
